* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-clr: #212245;
  --acc-clr: #A4CB6A;
  --scd-clr: #64C6C4;
}

.logo {
  width: 200px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

img { 
  max-width: 100%;
}

section {
  background-color: #212245;
}

/* NavBar */
.navbar {
  background-color: var(--main-clr);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.navbar .container {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  position: relative;
}

.navbar .main-menu {
  position: relative;
}

.navbar .main-menu ul {
  position: relative;
  display: flex;
}

.navbar .main-menu ul li {
  position: relative;
}

.navbar ul li a {
  position: relative;
  padding: 10px 20px;
  display: block;
  font-weight: 600;
  transition: 0.5s;
}

.navbar ul li a:hover {
  color: var(--acc-clr);
}

.navbar ul li a i {
  margin-left: 8px;
}

.navbar ul li:last-child a {
  margin-left: 15px;
}

.main-menu ul li a.btn:hover {
  box-shadow: 1px 1px 10px var(--scd-clr);
}

/* header */

header.title{
  background-color: var(--main-clr);
}

.title-container {
  display: inline-block;
  position: relative;
}

header.title .container {
  padding-top: 100px;
  padding-bottom: 20px;
  color: white;
  text-align: center;
}

#typewriter {
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.578);
}

#cursor {
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
}



/* info1 */

.info1 .container{
  display: flex;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 35px;
  color: white;
}

.info1 .container .img-container img{
  width: 90%;
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
}

.info1 .container .img-container {
  width: 49%;
}

.info1-content {
  width: 51%;
}

h2.info1-heading {
  font-weight: 600;
  text-align: center;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}

.info1-text {
  margin-top: 20px;
  margin-bottom: 15px;
}

.info1-content .list {
  padding-left: 25px;
}

.info1-content .list ul {
  list-style-type: disc;
}

.info1-content a {
  margin-top: 20px;
}

.info1-content a:hover {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.368);
}

.info1-content a i {
  margin-left: 10px;
}

/* values */


.values .container {
  color: white;
}

.values .content-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.values .container h1 {
  text-align: center;
  font-weight: 600;
}

.value-container {
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  gap: 25px;
}

.row-1,
.row-2,
.row-3 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  text-align: center;
}

.value-container .col-1,
.value-container .col-2 {
  width: 50%;
}

.value-container .img-container {
  text-align: center;
}


h2.content-heading {
  font-weight: 500;
  text-align: center;
}

.value-content .content-text { 
  margin-top: 15px;
}

/* footer */

footer{
  background-color: #212245;
}

footer .container {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  color: white;
}

footer .container .col-1 {
  width: 40%;
}

footer .container .col-1 .logo img {
  width: 70%;
  box-shadow: 2px 2px 15px black
}

.footer-text {
  margin-top: 20px;
}

footer .links ul{
  list-style-type: square;
  margin-top: 10px;
}

.icons {
  margin-top: 10px;
  display: flex;
  gap: 20px;
  font-size: 30px;
}

footer .links ul li a {
  transition: 0.4s;
}

footer .links ul li a:hover {
  color: var(--acc-clr);
}

/* Copyright */

.copyright {
  padding: 10px 0;
  background-color: #212245;
  text-align: center;
  color: white;
}

/* Utility Classes */

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-sm {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 15px 45px;
  background: var(--acc-clr);
  font-weight: 600;
  text-decoration: none;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.5s;
}

.btn-primary {
  background: var(--main-clr);
  color: #fff;
}

.btn-primary:hover{
  color: #212245;
  background-color: #A4CB6A;
}

.btn-light {
  background-color: var(--acc-clr);
  color: #fff;
}

.btn.btn-light:hover {
  color: var(--main-clr);
}

.btn-block {
  display: block;
  width: 100%;
}

/* text classes */

.text-xxl {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 600;
}

.text-xl {
  font-size: 2.2rem;
  line-height: 1.4;
  font-weight: 500;
}

.text-lg {
  font-size: 1.8rem;
  line-height: 1.4;
  font-weight: normal;
}

.text-md {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: normal;
}

.text-sm {
  font-size: 0.9rem;
  line-height: 1.4;
  font-weight: normal;
}

.text-center{
  text-align: center;
}

/* Hamburger Button */
.hamburger-button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1000;
  position: relative;
}

.hamburger-button .hamburger-line {
  width: 30px;
  height: 3px;
  background: #ffffff;
  margin: 6px 0;
}

/* Mobile Menu */
.mobile-menu {
  position: fixed;
  top: 0;
  right: -300px;
  width: 250px;
  height: 100%;
  z-index: 900;
  background-color: #212245;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.671);
  transition: right 0.3s ease-in-out;
}

.mobile-menu.active {
  right: 0;
}

.mobile-menu ul {
  margin-top: 100px;
  padding-right: 10px;
}

.mobile-menu ul li {
  margin: 10px 0;
}

.mobile-menu ul li a {
  font-size: 20px;
  transition: 0.3s;
}


@media screen and (max-width: 960px) {
  .text-xxl {
    font-size: 2.5rem;
  }

  .info1 .container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .info1 .container .img-container {
    width: 55%;
    display: flex;
    justify-content: center;
  }

  .info1 .container .info1-content {
    width: 90%;
  }
}

@media screen and (max-width: 670px) {
  .navbar .container {
    justify-content: space-around;
  }

  .navbar .main-menu {
    display: none;
  }

  .navbar .hamburger-button {
    display: block;
  }

  div.mobile-menu ul li a{
    color: #fff;
  }

  .hamburger-button .hamburger-line{
    background-color: white;
  }


  .info1 .container .img-container {
    width: 100%;
  }

  .value-container {
    flex-direction: column;
    align-items: center;

  }

  .value-container .col-1,
  .value-container .col-2{
  width: 100%;
}

.value-content .content-text {
  width: 100%;
  text-align: center;
}


  .row-1,
  .row-2,
  .row-3 {
    flex-direction: column;
    text-align: center;
  }

  footer .container {
    flex-direction: column;
    align-items: center;
  }

  footer .container .col-1,
  footer .container .col-2,
  footer .container .col-3 {
    width: 100%;
  }

  footer .container .col-2,
  footer .container .col-3 {
    margin-top: 10px;
  }

  footer .container .col-2 .links,
  footer .container .col-3 .links {
    padding-inline: 15px;
  }

  .copyright {
    padding: 25px 0;
  }


}
