* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-clr: #212245;
  --acc-clr: #A4CB6A;
  --scd-clr: #64C6C4;
}

.logo {
  width: 200px;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

img { 
  max-width: 100%;
}

/* NavBar */
.navbar {
  background-color: var(--main-clr);
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .main-menu ul {
  display: flex;
}

.navbar ul li a {
  padding: 10px 20px;
  display: block;
  font-weight: 600;
  transition: 0.5s;
}

.navbar ul li a:hover {
  color: var(--acc-clr);
}

.navbar ul li a i {
  margin-left: 8px;
}

.navbar ul li:last-child a {
  margin-left: 15px;
}

/* Utility Classes */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-sm {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.hero-heading {
  color: black;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 13px 20px;
  background: var(--acc-clr);
  font-weight: 600;
  text-decoration: none;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.5s;
}

.btn.btn-light:hover {
  color: var(--main-clr);
}

.btn-primary {
  background: var(--main-clr);
  color: #fff;
}

.btn-light {
  background-color: var(--acc-clr);
  color: #fff;
}

.btn-block {
  display: block;
  width: 100%;
}